.profile{
  text-align: center;
  	/*background-color: gray;*/
  	padding-top: 15px;
  	padding-bottom: 15px;
}

.patient-picture{
	border-radius: 25px;

}
table, th, td {
	margin: 0 auto;
	border: 1px solid black;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.previous-dates{
	cursor: pointer;
}
.physician-name{
	cursor: pointer;
}
.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}